body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 300px;
}

h3 {
    font-size: 50px;
    color: black;
}
